<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>Computer Vision</h1>
  </div>

  <!-- <div class = "video">
    <video width="920" height="640"  controls>
    <source src="video.mp4" type ="video/mp4">
    </video>
  </div> -->


  <div class="video-grid">
    <div class="video-item">
      <div class="video-wrap">
        <iframe src="video.mp4" width="630" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
    <div class="video-item">
      <div class="video-wrap">
        <iframe src="wowdoge.jpeg" width="600" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
    <div class="video-item">
      <div class="video-wrap">
        <iframe src="wowdoge.jpeg" width="600" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
  
  <!-- <p id="demo">
    Videos to choose from
    <p>Amani</p>
    {{Amani}}
  </p> -->
<!-- 
  <button class="btn btn-default" type="button" onclick="myFunction()">
    Try it
  </button> -->
  
  <!-- <iframe 
  width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
  </iframe> -->

</body>

</html>